.box {
  background-color: aqua;
  /* transform: translateX(100px);
  transform: translateY(100px);
  transform: rotate(-45deg);
  transform: scale(2,10) Scale Axis X or Y by some values; */
  transform: skew(45deg);
}
