.container {
  height: 500px;
  width: 500px;
  background-color: green;
  border: 3px solid red;
  display: flex;
}
.box {
  background-color: aqua;
  height: 150px;
  width: 150px;
  margin: 20px;
  border: 2px solid orange;
  /*transition: 1s; 
  transition-property: background-color;*/
  /*transition-delay: 3s;*/
  transition-property: transform, background-color;
  transition-duration: 3s;
  transition-timing-function: ease;
}
.box:hover {
  background-color: brown;
  transform: scale(1.3) translateX(60px) rotate(360deg);
}
