.container {
  width: 600px;
  height: 700px;
  background-color: bisque;
  border: 1px solid black;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  /*
  align-items: start;
  align-items: center;
  align-items: end;
  align-items: baseline;
  align-items: stretch;

  align-content: space-between;
    */
  place-content: center;
}
.box {
  border: 1px solid black;
  background-color: pink;
}

#box1 {
  /* justify-self: end;
  align-self: center;
  justify-self: center;
  */
}
